body {
    background-color: beige;
}

h1 {
    color: cornflowerblue;
}

.clicked {
    color: tomato;
}

.sexy-font {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}